@font-face {
    font-family: 'Terminal';
    src: url(assets/fonts/Terminal.ttf);
}

* {
    font-family: 'Terminal';
}

body {
    background-color: #89B487;
    margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
    padding: 10px;
    margin: 0;
    position: 0;
    top: 0;
    position: fixed;
    font-family: 'Terminal';
    color: white;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navbar a:hover {
    color: black;
    background-color: white;
}

h1 {
    color: #000000;
    font-size: 100px;
    font-weight: normal;
    margin: 0;
}

.legenda {
    font-size: 22px;
    line-height: 1.6;
    text-align: left;
}

h6 {
    color: #000000;
    font-size: 24px;
    font-weight: normal;
}

.home{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.Nome {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: auto;
    text-align: left;
    padding-right: 40px;
    max-width: 40%;
}

.andinhoFoto {
    margin: 0;
    margin-right: 20px; 
    bottom: 0;
}

#andinho {
    width: auto; 
    margin: 5%;
    height: 97vh;
    object-fit: contain; 
}

.portifolio {
    margin: 2%;
    margin-top: 5%;
}

.Ancora {
    font-size: 60px;
    margin: 0;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 100%;
    justify-content: space-around;
    font-size: calc(18px + 1%);
}

#myBtn1,
#myBtn2,
#myBtn3 {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}

#myBtn1:hover,
#myBtn2:hover,
#myBtn3:hover {
    color: gray;
    transition: 0.2s;
}

#more1,
#more2,
#more3 {
    display: none;
    color: white;
}


#celular {
    top: 50%;
    height: 50vh;
    width: 15vw;
    align-items: center;
    justify-content: center;
}

#sidTrip {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    text-align: center
}

#transformaApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    text-align: center
}

#duby {
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    text-align: center
}

.Skills {
    margin: 2%;
    margin-top: 5%;
}
